.landingPage {
    /* background-image: url(https://source.unsplash.com/1600x900/?coding-background); */
    /* background-repeat: no-repeat;
    overflow: hidden; */
    background: url(img/orange-pink-white-stripe-bikini-near-shell-on-sand-beach-54265.jpg) no-repeat center center fixed;
    /* background: url(https://bit.ly/2AvP0qg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Dp img {
    width: 95%;
    height: 15%;
    border-radius: 35%;
}

.Dp {
    text-align: center;
}


/* .heading {
    text-align: center;
}

.heading h1 {
    font-family: 'Dekko', cursive;
    color: antiquewhite;
} */

#tweet {
    display: inline;
}


/* contact-me */

.contact-me-box {
    background-image: url(images/background/contact-me/o-size.jpg);
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    margin: 0;
}

.contact-me-pos {
    text-align: center;
    padding-top: 0vh;
}

.contact-me-heading p {
    text-align: center;
    padding-top: 3vh;
    font-size: 10vh;
    font-family: 'Dancing Script', cursive;
}

a,
u {
    text-decoration: none !important;
}


/*Custom Twitter Button*/

.twitter-button {
    display: inline-block;
    background: #55acee;
    color: #fff !important;
    text-transform: uppercase;
    padding: 20px 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;
    /* -webkit-transform: translateZ(0px); */
}

.twitter-button:hover {
    color: #fff;
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    /* -webkit-transform: translate(0px, -10px); */
    -webkit-font-smoothing: subpixel-antialiased;
}